<%- include('partials/custom/header') %>
<div class="container vh-100">
  <div class="col">
    <div class="row">
      <div
        class="col-6 mx-auto d-flex justify-content-center align-items-center mt-5"
      >
        <div class="card text-center w-100">
          <div class="card-header h5 text-white bg-primary">Password Reset</div>
          <div class="card-body px-5 py-4">
            <p class="card-text mb-4">Enter your new password.</p>
            <form action="/reset-password/<%= user.resetToken %>" method="post">
              <div class="mb-3">
                <label for="floatingInput" class="form-label"
                  >New Password</label
                >
                <input
                  type="password"
                  name="password"
                  class="form-control rounded-3"
                  id="floatingInput"
                  placeholder="*******"
                />
              </div>

              <button
                class="w-100 btn btn-lg rounded-3 btn-primary"
                type="submit"
              >
                Reset Password
              </button>

              <hr class="my-4" />

              <div class="text-muted">
                <p class="mb-1">Already have an account?</p>
                <a class="text-primary" href="/login">Login</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include('partials/custom/footer') %>
